h2,
h3 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

#board {
  width: 900px;
  height: 450px;
  background-image: url(images/bg.jpg);
  background-size: 100% 100%;
  margin: 20px auto;
}

#area {
  width: 900px;
  height: 450px;
  overflow: hidden;
  position: absolute;
}

@keyframes lari {
  0% {
    background: url(images/run1.png);
    background-size: 100% 100%;
  }
  20% {
    background: url(images/run2.png);
    background-size: 100% 100%;
  }
  50% {
    background: url(images/run7.png);
    background-size: 100% 100%;
  }
  75% {
    background: url(images/run8.png);
    background-size: 100% 100%;
  }
}

#dino {
  width: 150px;
  height: 150px;
  background: url(images/run1.png);
  background-size: 100% 100%;
  position: absolute;
  margin-top: 255px;
  margin-left: 70px;
  animation: lari 0.3s infinite;
  transition: 1s;
}

#dino.freeze {
  animation: none;
  background: url(images/run2.png);
  background-size: 100% 100%;
}

#box {
  width: 100px;
  height: 130px;
  background: url(images/kura.png);
  background-size: 100% 100%;
  margin-top: 300px;
  margin-left: 900px;
}
